<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Área do Aluno</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/boxes.svg" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <!-- Template Main JSON File -->


</head>

<body class='bg-dark'>

  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>

  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">

      <div class="profile">
        <img src="../assets/img/alunos/profile-img.jpg" alt="" class="img-fluid rounded-circle">
        <h1 class="text-light text-center"><a href="index.html" id="aluno_nome">Área do Aluno</a></h1>
        <div class="social-links mt-3 text-center">
          <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
          <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>

      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>Aluno</span></a></li>
          <li><a href="#services" class="nav-link scrollto"><i class="bx bx-server"></i> <span>Agenda</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Notas/Faltas</span></a>
          </li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Cont.
                Disciplinas</span></a></li>
          <li><a href="#portfolio" class="nav-link scrollto"><i class="bx bx-book-content"></i> <span>Atv.
                Extra</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contato</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header><!-- End Header -->

  <main id="main" class="text-light">
    <section class="container">
      <h2 class="border-bottom border-light text-right">Agenda</h2>
      <h4 class="px-3 py-3">Seus eventos:</h4>
      <div id="seus-eventos">
        <div class="mx-5 event alert alert-dark" role="alert" id="event">
          <h5>25/04 - Matemática - Prova</h5>
        </div>
        <div class="mx-5 event alert alert-dark" role="alert">
          <h5>26/04 - História - Prova</h5>
        </div>
        <div class="mx-5 event alert alert-dark" role="alert">
          <h5>27/04 - Geografia - Prova</h5>
        </div>
        <div class="mx-5 event alert alert-dark" role="alert">
          <h5>28/04 - Biologia - Prova</h5>
        </div>
      </div>
        <h4 class="px-3 py-3">Novo evento:</h3>
          <div class="mx-5 event alert col-3" role="alert">
            <input id='data' type="text" class="form-control my-1 bg-dark text-light" placeholder="Data" aria-label="Username"
              aria-describedby="basic-addon1">
            <input id='disciplina' type="text" class="form-control my-1 bg-dark text-light" placeholder="Disciplina"
              aria-describedby="basic-addon1">
            <input id='descricao' type="text" class="form-control my-1 bg-dark text-light" placeholder="Descrição"
              aria-describedby="basic-addon1">
            <button onclick="sendForm()" class="btn btn-primary btn-outline-secondary text-center bg-dark" type="button">Cadastrar</button>
          </div>
    </section>
    </div>
  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">
      <div class="copyright">
        &copy; Copyright <strong><span>L. Caron & M. Murray</span></strong>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="../assets/vendor/purecounter/purecounter.js"></script>
  <script src="../assets/vendor/aos/aos.js"></script>
  <script src="../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="../assets/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="../assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="../assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="../assets/vendor/typed.js/typed.min.js"></script>
  <script src="../assets/vendor/waypoints/noframework.waypoints.js"></script>
  <script src="../assets/vendor/php-email-form/validate.js"></script>


  <!-- Template Main JS File -->
  <script src="../assets/js/agenda.js"></script>
  <script src="script.js"></script>


</body>

</html>