<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Agenda</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="../assets/img/boxes.svg" rel="icon">
  <link href="../assets/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="../assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="../assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="../assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="../assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="../assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="../assets/css/style.css" rel="stylesheet">
  <!-- Template Main JSON File -->


</head>

<body class='bg-dark'>

  <main id="main_agenda" class="text-light">
    <section class="container">
      
      <h2 class="border-bottom border-light text-right"> Agenda</h2>
     
      <h4 class="px-3 py-3">Seus eventos:</h4>
      <div id="seus-eventos">
        <div class="mx-3 event alert alert-dark" role="alert" id="event">
          <h5>22022-03-22 - Tópicos Especiais de Sistema - Entrega Projeto Escola</h5>
        </div>
        <div class="mx-3 event alert alert-dark" role="alert">
          <h5>26/04 - Fisica - Prova</h5>
        </div>
        <div class="mx-3 event alert alert-dark" role="alert">
          <h5>27/04 - Quimica - Prova</h5>
        </div>
        <div class="mx-3 event alert alert-dark" role="alert">
          <h5>28/04 - Portugues - Prova</h5>
        </div>
      </div>
      <h4 class="px-3 py-3">Novo evento:</h3>
        <div class=" event alert row" role="alert">
          <form class="form">
            <div class="row">

              <div class="form-group col-md-6">
                <input id='data' type="date" class="form-control my-1 bg-dark text-light" aria-label="Username" aria-describedby="basic-addon1">
              </div>

              <div class="form-group col-md-6">
                <select id='disciplina' type="text" class="form-control my-1 bg-dark text-light" placeholder="Disciplina" aria-describedby="basic-addon1">
                  <option value="Matematica" selected>Matematica</option>
                  <option value="Quimica">Quimica</option>
                  <option value="Fisica">Fisica</option>
                  <option value="Portugues">Portugues</option>
                </select>
              </div>

              <div class="form-group col">
                <input id='descricao' type="textarea"  class="form-control my-1 bg-dark text-light" placeholder="Descrição" aria-describedby="basic-addon1">
              </div>

            </div>
            <div class="my-3">
            <button onclick="sendForm()" class="btn btn-primary btn-outline-warning text-center bg-dark" type="button">Cadastrar</button>
            </div>
          </form>
        </div>

    </section>
    </div>
  </main><!-- End #main -->


  <!-- Template Main JS File -->
  <script src="../assets/js/agenda.js"></script>


</body>
</html>